html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
}

.fusen-wrapper {
  background-color: beige;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 10px;
  float: left;
}

.fusen-txt {
  background-color: transparent;
  width: 90%;
  height: 70%;
  margin-top: 25px;
  resize: none;
  border: none;
}

.fusen-del {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}